.root {
   position: relative;
   left: -20px;

   @media (max-width: 1028px ) {
      margin-left: 35px;
   }
  
}

.input{
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 12px 20px;
   padding-left: 42px;
   width: 300px;
   border-radius: 10px;
   font-size: 16px;
   transition:  all 0.15s ease-in-out;

   &:focus{
      border: 1px solid rgba(0, 0, 0, 0.2);
      width: 320px;
   }

   @media (max-width: 377px ) {
      width: 250px;
       margin: 5px;
      &:focus{
         width: 255px;
      }
   }
   @media (max-width: 326px ) {
      width: 200px;
   }
}


.icon{
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 12px;
}

.clearIcon{
   width: 18px;
   height: 18px;
   opacity: 0.3;
   position: absolute;
   right: 15px;
   top: 15px;
   cursor: pointer;

   &:hover {
      opacity: 0.8;
   }
}